.glass {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(150, 150, 150, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.glass-light {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(33, 150, 243, 0.05);
  border-radius: 4px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}